<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En La Pera</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
   <h1 class="color-rosa">¡BIENVENIDO A EN LA PERA!</h1>
   <h3 class="color-rosa-brown"> Si buscas algo para bajonear un poco ¡Estás en el lugar indicado! </h3>
        <h2 class="color-rosa">Chocotorta</h2>       
        <p class="color-dark-brown">
            No hace falta ser un gran repostero para poder hacer una buena receta de chocotorta.<br>
            Cualquiera lo puede hacer! En estos días si tenés niños a tu cargo y ya no sabés como entretenerlos,<br>
            hacer juntos esta torta fácil es un planazo. Es muy sencilla y entretenida, me lo vas a agradecer! <br> </p>
          <img src="../imagenes/chocotorta.jpg" alt="" style="width: 500px; height: 250px";> <br><br>
          <h2 class="color-rosa">Ingredientes</h2>
          <ul class="color-dark-brown">
        <li> Dulce de leche: 400g </li>
        <li> Queso crema: 300g </li>
        <li> Chocolinas: 400g </li>
        <li> Café (para remojar las galletitas) </li>
        <li> Chocolate cobertura: 50g </li>
        <li> Cacao en polvo: 50g </li>
          </ul>
        <h2 class="color-rosa">Pasito a Pasito</h2>
        <ol class="color-dark-brown">
    <li>Mezclar el queso crema con el dulce de leche hasta que la mezcla quede homogénea </li> 
    <li>Remojar cada galletita y colocar en una fuente hasta formar una capa. Colocar una capa de la crema de dulce de leche. Otra capa de galletitas humedecidas y así 4 veces.</li> 
    <li>Llevar a enfriar por 1 hora en refrigerador.</li> 
    <li>    Espolvorear con cacao en polvo. Al servir, rallar un poco de chocolate amargo por encima y a ser felices y comer chocotorta!</li> 
    
    </ol>
    <h3 class="color-rosa">Este postre es una maravilla, espero que lo hayan disfrutado!</h3>
    <a href="https://www.paulinacocina.net/recetas/dulces-y-postres/postres" target="_blank">
        <strong class="color-dark-rosa">Hacé click acá y mirá más recetitas para que te inspires</strong> </a>
    <br>
<a href="../../index.html">
      <strong class="color-dark-rosa">Volver al inicio</strong>
    </a>
      
</body>
</html>