<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludables</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1 class="color-rosa"> ¡BIENVENIDOS A SALUDABLES!</h1>
    <h2 class="color-rosa-brown"> Acá le ponemos onda para incorporar alimentos saludables de la mejor manera y con el mejor sabor! </h2>
    <h3 class="color-rosa"> Galletas de Avena </h3>
    <p class="color-dark-brown"> 
        Esta opción es ideal para quienes no nos gusta comprar galletas industriales compradas en el supermercado. 
        Hay quienes acostumbran a hacerlo,  y a ustedes,<br> a los que aún no se animaron a cocinarlas en casa, les digo: 
        esta receta de galletas de avena es tan fácil, rápida de preparar, y queda tan deliciosa que les va a cambiar la vida. <br>
        No irán más a comprar éste tipo de galletas, basta con tener algunos ingredientes a mano y poner manos a la obra.
        <br><br>
     <img src="../imagenes/galletasdeavena.jpg" alt="" srcset="" style="width: 500; height: 250">
    </p>
    <h2 class="color-rosa">Ingredientes (Para unas 20 galletas de avena)</h2>
    <ul class="color-dark-brown">
  <li> Copos de avena: 115g </li>
  <li> Harina: 50g </li>
  <li> Azúcar negra o blanca: 75g </li>
  <li> Aceite de maíz: 50ml </li>
  <li> 1 huevo </li>
  <li> 1 pizca de sal </li>
  <li> 1 cucharadita de escencia de vainilla </li>

    </ul>
  <h2 class="color-rosa">Pasito a Pasito</h2>
  <ol class="color-dark-brown">
<li>Batir el huevo y mezclarlo con el azúcar hasta que quede una preparación cremosa.</li> 
<li>Agregar el aceite y la esencia de vainilla y unir bien.</li> 
<li>Incorporar la harina, la pizca de sal y los copos de avena. Unir bien con las manos hasta que quede una masa compacta.</li> 
<li>Llevar a la heladera unos 20 minutos hasta que la masa para las galletas esté bien fresca.</li> 
<li>Con las manos untadas con un poco de aceite, formar bolitas y aplastarlas formando las galletas de avena. Colocarlas en una fuente de horno. No hace falta que tenga manteca o aceite.
</li>
<li>Hornear unos 10-12 minutos a 180ºC, hasta que las galletas de avena vean doradas por debajo (si se ven hechas por arriba, pueden quemarse abajo). No te hagas problema si al sacarlas parecen un poco blandas: algo importante sobre esta  receta de galletas de avena es que tienen un truco para que queden crujientes y es que al enfriarse se endurecen y quedan crocantes
</li>
</ol>
<h3 class="color-rosa">Hasta aquí llegó la receta, recordá: Comer sano también es rico, espero que lo hayan disfrutado!</h3> 
<iframe width="500" height="250" src="https://www.youtube.com/embed/BU7L4koODoA" title="Galletas de Avena | Receta Fácil y en minutos - CUKit!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<a href="https://www.paulinacocina.net/recetas-saludables/20847" target="_blank">
    <strong class="color-dark-rosa">Hacé click acá y mirá más recetitas para que te inspires</strong> </a>
<br>
<a href="../../index.html" target="_blank">
  <strong class="color-dark-rosa">Volver al inicio</strong> </a>
  </body>
</html>