*{font-family: 'Times New Roman', Times, serif;}
.color-rosa-brown{
    color: rosybrown;
}
.color-rosa{
    color: palevioletred;
}
.color-dark-brown{
    color: brown;
}
.color-dark-rosa{
    color: darkmagenta;
}